.navigation {
    position: relative;
    max-width: 1110px;
    max-height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0 34px 0;
    z-index: 1;
    margin: 0 auto;
}