.new-collection__link-button {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    margin: 0 auto;
    transition: 0.5s ease;
}

.new-collection__link-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.new-collection__link-button:hover {
    transition: 0.5s ease;
    color: #FFFFFF;
}