.new-collection__link-button {
    display: block;
    width: 243px;
    height: 68px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    margin: 0 auto;
}