.navigation__phone-number {
    max-width: 128px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin: 0 0 0 9px;
}