.footer-section__copyright-text {
    margin: 70px 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}